{% extends 'base.html' %}
{% load custom_filters %}
{% block title_block %} Home {% endblock %}
{% block body_block %}
{% for blog in blogs %}
<h2>{{ blog.blog_title }}</h2>
<strong>Date: <i>{{ blog.publish_date }}</i></strong>
<div class="row">
<div class="col-sm-6">
<img src="/media/{{blog.blog_image}}" alt="{{blog.blog_title}}" style="width: 100%; height: 200px">
</div>
<div class="col-sm-6">
{{ blog.blog_content|short_content|linebreaks }} <a href={% url 'App_Blog:blog_detail' blog.slug %}>(see more)</a>
<h6>{{ blog.likes_blog.count }} Likes | {{ blog.comment_blog.count }} Comments</h6>
<p>Author: <a href="#">{{ blog.user.username }}</a></p>
</div>
</div>
{% endfor %}
{% endblock %}