{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title_block %} Signup {% endblock %}
{% block body_block %}
<h1>Signup</h1>
{% if registered %}
<div class="alert alert-success">
    <p>Registration Successful. Click here to <a href={% url 'App_Login:user_login' %}>LOGIN</a></p> 
</div>
{% else %}
<form method="POST">
    {{ form|crispy }}
    {% csrf_token %}
    <button type="submit" class="btn btn-success">Signup</button>
</form>
<hr>
<p>Already have an account? <a href={% url 'App_Login:user_login' %}>Login Here</a></p>
{% endif %}
{% endblock %}